<script setup lang="ts">
import { ref } from 'vue'

import { useRouter } from 'vue-router'

const router = useRouter()
const errorCode = ref<number>(404)
</script>

<template>
  <v-container class="flex flex-col items-center py-20" fluid>
    <v-card class="w-96" color="base-100">
      <v-card-title>
        <h2>Error {{ errorCode }}!</h2>
      </v-card-title>
      <v-card-text>
        <p>We're sorry, something is not right, page not found!</p>
      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn @click="router.back()" class="btn-primary"> Back! </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<style lang="scss" scoped></style>
;
