<script setup lang="ts"></script>

<template>
  <v-container class="flex flex-col items-center py-20">
    <h1 class="text-h3 py-10">This is an about page</h1>
    <p class="tw-text-sm">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, facere
      soluta itaque dolorum, eum laborum cumque corrupti repellendus at
      doloribus odit nostrum animi accusantium ullam dicta voluptates ut
      praesentium perferendis!
    </p>
  </v-container>
</template>

<style lang="scss" scoped></style>
